Documentation/XML Schema/XMLDocSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:this="http://www.cobaltrenderer.com/schema/XMLDocSchema.xsd" targetNamespace="http://www.cobaltrenderer.com/schema/XMLDocSchema.xsd" elementFormDefault="qualified">
  <!-- Elements -->
  <xs:element name="XMLDocProject" type="this:XMLDocProject"/>
  <xs:element name="XMLDocTOC" type="this:XMLDocTOC"/>
  <xs:element name="XMLDocContent" type="this:XMLDocContent"/>
  <!-- Simple types  -->
  <xs:simpleType name="MemberVisibility">
    <xs:annotation>
      <xs:documentation>Specifies the visibility of this member to other code</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Public"/>
      <xs:enumeration value="Protected"/>
      <xs:enumeration value="Private"/>
      <xs:enumeration value="Internal"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TypeCategory">
    <xs:annotation>
      <xs:documentation>Specifies the category of the specified type</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Interface"/>
      <xs:enumeration value="Class"/>
      <xs:enumeration value="Struct"/>
      <xs:enumeration value="Enumeration"/>
      <xs:enumeration value="Delegate"/>
      <xs:enumeration value="Event"/>
      <xs:enumeration value="Library"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NoteType">
    <xs:annotation>
      <xs:documentation>Specifies the type of this note block. This affects the way it is displayed to the user.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Important"/>
      <xs:enumeration value="Warning"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ImageSize">
    <xs:annotation>
      <xs:documentation>Specifies a sizing hint for image content. This affects the way the image is scaled.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="VerySmall"/>
      <xs:enumeration value="Small"/>
      <xs:enumeration value="Medium"/>
      <xs:enumeration value="MediumLarge"/>
      <xs:enumeration value="Large"/>
      <xs:enumeration value="VeryLarge"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- Complex types  -->
  <xs:complexType name="XMLDocProject">
    <xs:annotation>
      <xs:documentation>Defines the overall settings for this document project</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Title" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the title to use for this document project</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="InitialPage" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document to show as the first page when this document project is opened</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="XMLDocTOC">
    <xs:annotation>
      <xs:documentation>Defines elements for the table of contents.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Image" type="this:Image"/>
      <xs:element name="TOCRoot" type="this:TOCRoot"/>
      <xs:element name="TOCFragment" type="this:TOCFragment"/>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of this document. Must be unique.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="XMLDocContent">
    <xs:annotation>
      <xs:documentation>Defines the root element of this document, with any associated settings for this document.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="Paragraph" type="this:Paragraph"/>
      <xs:element name="Note" type="this:Note"/>
      <xs:element name="Section" type="this:Section"/>
      <xs:element name="Code" type="this:Code"/>
      <xs:element name="Image" type="this:Image"/>
      <xs:element name="Download" type="this:Download"/>
      <xs:element name="List" type="this:List"/>
      <xs:element name="PageRef" type="this:PageRef"/>
      <xs:element name="PageRefList" type="this:PageRefList"/>
      <xs:element name="FunctionMemberList" type="this:FunctionMemberList"/>
      <xs:element name="DataMemberList" type="this:DataMemberList"/>
      <xs:element name="ArgumentList" type="this:ArgumentList"/>
      <xs:element name="EnumMemberList" type="this:EnumMemberList"/>
      <xs:element name="TypeMemberList" type="this:TypeMemberList"/>
      <xs:element name="ReturnValue" type="this:ReturnValue"/>
    </xs:choice>
    <xs:attribute name="PageName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of this document. The value of this property is the name other documents will use to refer to this document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Title" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the title to show for this document</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="XHTMLContent" mixed="true">
    <xs:annotation>
      <xs:documentation>This node allows any correctly formatted XHTML child content to be provided, which will then be inserted at the target position in the generated document.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TypeRef" mixed="true">
    <xs:annotation>
      <xs:documentation>Identifies a section of text as a type reference. No link will appear, but the text will be displayed differently to make the type reference stand out.</xs:documentation>
    </xs:annotation>
  </xs:complexType>

  <xs:complexType name="URL" mixed="true">
    <xs:annotation>
      <xs:documentation>This node allows a URL to be inserted into the document with an optional display name, which will appear as a link in the generated document.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="DisplayName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the text to show in the document for the link. If this is not specified, the full URL will be shown as the text.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Paragraph" mixed="true">
    <xs:annotation>
      <xs:documentation>Defines a paragraph of text to insert in the generated document. Spacing will be inserted between consecutive paragraphs as required.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="URL" type="this:URL"/>
      <xs:element name="Download" type="this:Download"/>
      <xs:element name="PageRef" type="this:PageRef"/>
      <xs:element name="TypeRef" type="this:TypeRef"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="Note">
    <xs:annotation>
      <xs:documentation>Defines an annotated block of the specified type.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Paragraph" type="this:Paragraph"/>
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="Code" type="this:Code"/>
      <xs:element name="Image" type="this:Image"/>
      <xs:element name="List" type="this:List"/>
      <xs:element name="URL" type="this:URL"/>
      <xs:element name="Download" type="this:Download"/>
      <xs:element name="PageRef" type="this:PageRef"/>
    </xs:choice>
    <xs:attribute name="Type" type="this:NoteType" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the type of this note block. This affects the way it is displayed to the user.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Section">
    <xs:annotation>
      <xs:documentation>Defines a top-level section of the document with a specified title. Sections should be used to break the document into logical components.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="Paragraph" type="this:Paragraph"/>
      <xs:element name="Note" type="this:Note"/>
      <xs:element name="SubSection" type="this:SubSection"/>
      <xs:element name="Code" type="this:Code"/>
      <xs:element name="Image" type="this:Image"/>
      <xs:element name="List" type="this:List"/>
      <xs:element name="PageRef" type="this:PageRef"/>
      <xs:element name="PageRefList" type="this:PageRefList"/>
      <xs:element name="FunctionMemberList" type="this:FunctionMemberList"/>
      <xs:element name="DataMemberList" type="this:DataMemberList"/>
      <xs:element name="ArgumentList" type="this:ArgumentList"/>
      <xs:element name="EnumMemberList" type="this:EnumMemberList"/>
      <xs:element name="TypeMemberList" type="this:TypeMemberList"/>
      <xs:element name="ReturnValue" type="this:ReturnValue"/>
    </xs:choice>
    <xs:attribute name="Title" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the title to display for this section</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PageName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document that this section references. A link will be shown to the target document if the specified name corresponds to another document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="SubSection">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="Paragraph" type="this:Paragraph"/>
      <xs:element name="Note" type="this:Note"/>
      <xs:element name="SubSection" type="this:SubSection"/>
      <xs:element name="Code" type="this:Code"/>
      <xs:element name="Image" type="this:Image"/>
      <xs:element name="List" type="this:List"/>
      <xs:element name="PageRef" type="this:PageRef"/>
      <xs:element name="PageRefList" type="this:PageRefList"/>
      <xs:element name="FunctionMemberList" type="this:FunctionMemberList"/>
      <xs:element name="DataMemberList" type="this:DataMemberList"/>
      <xs:element name="ArgumentList" type="this:ArgumentList"/>
      <xs:element name="EnumMemberList" type="this:EnumMemberList"/>
      <xs:element name="TypeMemberList" type="this:TypeMemberList"/>
      <xs:element name="ReturnValue" type="this:ReturnValue"/>
    </xs:choice>
    <xs:attribute name="Title" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the title to display for this subsection</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TOCRoot">
    <xs:annotation>
      <xs:documentation>Inserts a table of contents into the document</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="TOCEntry" type="this:TOCEntry"/>
      <xs:element name="TOCGroup" type="this:TOCGroup"/>
      <xs:element name="TOCFragment" type="this:TOCFragment"/>
      <xs:element name="TOCFragmentRef" type="this:TOCFragmentRef"/>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of this node. Must be unique.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TOCEntry">
    <xs:annotation>
      <xs:documentation>Defines a single entry in the parent table of contents that links to a target page</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Title" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the title to display for this item</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PageName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document that this entry references. A link will be shown to the target document if the specified name corresponds to another document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TOCGroup">
    <xs:annotation>
      <xs:documentation>Defines an entry in the parent table of contents that can contain other entries, and optionally links to a target page.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="TOCGroup" type="this:TOCGroup"/>
      <xs:element name="TOCEntry" type="this:TOCEntry"/>
      <xs:element name="TOCFragment" type="this:TOCFragment"/>
      <xs:element name="TOCFragmentRef" type="this:TOCFragmentRef"/>
    </xs:choice>
    <xs:attribute name="Title" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the title to display for this item</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PageName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document that this entry references. A link will be shown to the target document if the specified name corresponds to another document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TOCFragment">
    <xs:annotation>
      <xs:documentation>Defines named fragment of the TOC system, which can be referred to from a root TOC file.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="TOCGroup" type="this:TOCGroup"/>
      <xs:element name="TOCEntry" type="this:TOCEntry"/>
      <xs:element name="TOCFragment" type="this:TOCFragment"/>
      <xs:element name="TOCFragmentRef" type="this:TOCFragmentRef"/>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the TOC fragment that this entry defines.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TOCFragmentRef">
    <xs:annotation>
      <xs:documentation>References a named fragment in the TOC system to insert at this location in the root TOC file.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the TOC fragment to insert at this location.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Code" mixed="true">
    <xs:annotation>
      <xs:documentation>Allows a block of code to be shown with the correct formatting</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Language" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the language to interpret the code as</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Image" mixed="true">
    <xs:annotation>
      <xs:documentation>Allows an image to be shown</xs:documentation>
    </xs:annotation>
    <xs:attribute name="PageName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document that this image references. A link will be shown to the target document if the specified name corresponds to another document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Size" type="ImageSize" use="optional">
      <xs:annotation>
        <xs:documentation>Gives a sizing hint when showing the image. If omitted, images fill the available horizontal space. If present, the horizontal width of the image will be limited based on the specified size.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DarkModeAware" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>By default, a light background will be applied to images under dark mode. If this flag is set, this behaviour will not occur, allowing full transparency under either light or dark modes.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Download" mixed="true">
    <xs:annotation>
      <xs:documentation>Inserts a download link to the target file</xs:documentation>
    </xs:annotation>
  </xs:complexType>

  <xs:complexType name="List">
    <xs:annotation>
      <xs:documentation>Allows a basic list of items to be presented to the user</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ListEntry" type="this:ListEntry"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="ListEntry" mixed="true">
    <xs:annotation>
      <xs:documentation>Defines a single entry in the parent list</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="List" type="this:List"/>
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="URL" type="this:URL"/>
      <xs:element name="TypeRef" type="this:TypeRef"/>
      <xs:element name="PageRef" type="this:PageRef"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="PageRef" mixed="true">
    <xs:annotation>
      <xs:documentation>Inserts a link to the target page</xs:documentation>
    </xs:annotation>
    <xs:attribute name="PageName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document that this item references. A link will be shown to the target document if the specified name corresponds to another document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Section" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies a section within the document to navigate to</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="PageRefList">
    <xs:annotation>
      <xs:documentation>Presents a formatted list of links to other pages</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="PageRefListEntry" type="this:PageRefListEntry"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="PageRefListEntry" mixed="true">
    <xs:annotation>
      <xs:documentation>Adds a link to a target page into the parent list</xs:documentation>
    </xs:annotation>
    <xs:attribute name="PageName" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document that this entry references. A link will be shown to the target document if the specified name corresponds to another document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="FunctionMemberList">
    <xs:annotation>
      <xs:documentation>Allows a list of member functions to be nicely formatted and presented to the user</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="FunctionMemberListEntry" type="this:FunctionMemberListEntry"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="FunctionMemberListEntry" mixed="true">
    <xs:annotation>
      <xs:documentation>Defines a single entry in the parent function member list</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="URL" type="this:URL"/>
      <xs:element name="TypeRef" type="this:TypeRef"/>
      <xs:element name="PageRef" type="this:PageRef"/>
    </xs:choice>
    <xs:attribute name="Static" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Specifies whether this is a static member</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Deprecated" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Specifies whether the use of this member is deprecated and should not be used in new code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Blocked" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Specifies whether the use of this method is blocked or reserved for internal use by design, and cannot be called directly.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Visibility" type="this:MemberVisibility" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the visibility of this function member to external code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the name of this function member in code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PageName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document that this entry references. A link will be shown to the target document if the specified name corresponds to another document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="DataMemberList">
    <xs:annotation>
      <xs:documentation>Allows a list of data members to be nicely formatted and presented to the user</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="DataMemberListEntry" type="this:DataMemberListEntry"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="DataMemberListEntry" mixed="true">
    <xs:annotation>
      <xs:documentation>Defines a single entry in the parent data member list</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="URL" type="this:URL"/>
      <xs:element name="TypeRef" type="this:TypeRef"/>
      <xs:element name="PageRef" type="this:PageRef"/>
    </xs:choice>
    <xs:attribute name="Static" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Specifies whether this is a static member</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Deprecated" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Specifies whether the use of this member is deprecated and should not be used in new code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Visibility" type="this:MemberVisibility" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the visibility of this data member to external code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the type name of this member in code. If the specified type has an associated document, that document can be referenced by specifying the page name after the type name, with an exclamation mark separating them.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the name of this data member in code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PageName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document that this entry references. A link will be shown to the target document if the specified name corresponds to another document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="EnumMemberList">
    <xs:annotation>
      <xs:documentation>Allows a list of enum entries to be nicely formatted and presented to the user</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="EnumMemberListEntry" type="this:EnumMemberListEntry"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="EnumMemberListEntry" mixed="true">
    <xs:annotation>
      <xs:documentation>Defines a single entry in the parent enum member list</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="URL" type="this:URL"/>
      <xs:element name="TypeRef" type="this:TypeRef"/>
      <xs:element name="PageRef" type="this:PageRef"/>
    </xs:choice>
    <xs:attribute name="Deprecated" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Specifies whether the use of this type is deprecated and should not be used in new code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the name of this enum entry in code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PageName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document that this entry references. A link will be shown to the target document if the specified name corresponds to another document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="TypeMemberList">
    <xs:annotation>
      <xs:documentation>Allows a list of member types to be nicely formatted and presented to the user</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="TypeMemberListEntry" type="this:TypeMemberListEntry"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="TypeMemberListEntry" mixed="true">
    <xs:annotation>
      <xs:documentation>Defines a single entry in the parent type member list</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="URL" type="this:URL"/>
      <xs:element name="TypeRef" type="this:TypeRef"/>
      <xs:element name="PageRef" type="this:PageRef"/>
    </xs:choice>
    <xs:attribute name="Static" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Specifies whether this is a static type</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Deprecated" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Specifies whether the use of this type is deprecated and should not be used in new code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Visibility" type="this:MemberVisibility" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the visibility of this type member to external code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="TypeCategory" type="this:TypeCategory" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the category this particular type belongs to</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the name of this type in code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="PageName" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the internal name of the document that this entry references. A link will be shown to the target document if the specified name corresponds to another document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ArgumentList">
    <xs:annotation>
      <xs:documentation>Allows a list of arguments of a function to be nicely formatted and presented to the user</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ArgumentListEntry" type="this:ArgumentListEntry"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="ArgumentListEntry" mixed="true">
    <xs:annotation>
      <xs:documentation>Defines a single entry in the parent argument list</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="URL" type="this:URL"/>
      <xs:element name="TypeRef" type="this:TypeRef"/>
      <xs:element name="PageRef" type="this:PageRef"/>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the name of this argument in code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Type" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the type name of this member in code. If the target method is overloaded and it is desirable to list multiple types for this argument, multiple types can be listed separated by semicolons. If a specified type has an associated document, that document can be referenced by specifying the page name after the type name, with an exclamation mark separating them.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ReturnValue" mixed="true">
    <xs:annotation>
      <xs:documentation>Allows the return value of a function to be nicely formatted and presented to the user</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="XHTMLContent" type="this:XHTMLContent"/>
      <xs:element name="URL" type="this:URL"/>
      <xs:element name="TypeRef" type="this:TypeRef"/>
      <xs:element name="PageRef" type="this:PageRef"/>
    </xs:choice>
    <xs:attribute name="Type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the type name of this member in code. If the specified type has an associated document, that document can be referenced by specifying the page name after the type name, with an exclamation mark separating them.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>
